body {
    color: #612406;
}



#menuDiNavigazione {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FBF7E3;
    border-radius: 3rem;
}

#grande {
    display: flex;
    font-size: 2rem;
    order: -1;
    font-weight: 800;
    background-color: #F3DF85;
    border-radius: 1rem;
}

.piccoli {
    font-weight: 600;
    background-color: #F3DF85;
    border-radius: 1rem;
}


#logo {
    width: 3rem;
}

